<div class="row">
  <div class="five columns centered">
    <div class="panel">
      <%= form_for @line do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.submit submit_text, class: "button" %>
        <%= link_to "Cancel", @line, class: "secondary button" %>
      <%- end %>
    </div>
  </div>
</div>
