<%= link_to 'Edit Line', edit_line_path(@line) %> 
<%= link_to 'Delete Line', @line, method: :delete, data: { confirm: "Are you sure?" }, title: @line.title %>
<%= render @line %>
<%= render @line.unprocessed_queuers %>
<p>Add someone to the line</p>
<%= render partial: 'queuers/form', locals: { queuer: @queuer, submit_text: "Add" } %>
