<%= form_for [@line, queuer] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :phone %>
  <%= f.text_field :phone %>
  <ul class="button-group">
    <li><%= f.submit submit_text, class: "button" %></li>
<%- end %>
