<!DOCTYPE html>
<html>
<head>
  <title>QueueApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>
  <% if user_signed_in? %>
    <li><%= link_to "View Lines", lines_path %></li>
    <li><%= link_to "Create Line", new_line_path %></li>
    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "Sign In", new_user_session_path %></li>
    <li><%= link_to "Sign Up", new_user_registration_path %></li>
  <% end %>
</ul>
<% flash.each do |type, message| %>
  <p><%= message %></p>
<% end %>
<%= yield %>

</body>
</html>
